{% extends "base.html" %}
{% block head_title %}{{ user.username }}|| {{ block.super }} MuyPicky.com {% endblock head_title %}
{% block content %}
<h1>{{ user.username }} </h1><br>
<form class="form" method="GET" action=".">
    <input type="text" placeholder="Search..." name="q" value="{{  request.GET.q }}">
    <button class="btn btn-default" type="submit">Search</button>
</form>
<hr>
{% if locations %}
<ul>
    {% for rest in locations %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-default">
                <h4>{{ rest.title }} </h4>
                <p>
                    <a href="{{ request.path }}?q={{ rest.location }}">{{ rest.location }}</a> |
                    <a href="{{ request.path }}?q={{ rest.category }}">{{ rest.category }}</a>
                </p>
                <br>
                {% if rest.item_set.all.exists %}
                <ul>
                    {% for item in rest.item_set.all %}
                    <li style="margin-bottom: 15px;"><b>{{ item.name }}</b>
                        {% for ing in item.get_contents %}
                            <a href="{{ request.path }}?q={{ ing }}">{{ ing }}</a>
                        {% endfor %}
                    </li>
                    {% endfor %}

                </ul>
                {% else %}
                <p class="lead">No Items Found</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
<hr>
{% endblock content %}